[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-telegram-bot = "*"
loguru = "*"

[dev-packages]

[packages.pydantic]
extras = [ "dotenv"]

[requires]
python_version = "3.7"
